$steps: (0, 1, 2, 3, 4, 5, auto);

$directions: top, bottom, left, right;

@each $step in $steps {
    $val: #{$step}rem;

    @if $step == auto {
        $val: auto;
    }

    .margin-#{$step} {
        margin: $val;
    }
    .padding-#{$step} {
        padding: $val;
    }

    @each $direction in $directions {
        .margin-#{$direction}-#{$step} {
            margin-#{$direction}: $val;
        }
        .padding-#{$direction}-#{$step} {
            padding-#{$direction}: $val;
        }
    }
}
